<!-- views/cinemas/dashboard.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
</head>
<body>
<%- include('../partials/header') %>
<%- include('../partials/nav') %>
  <header>
    <h1>Welcome, <%= user.username %>!</h1>
  </header>
  <main>
    <h2>Your TV Shows</h2>
    <ul>
      <% if (tvshows.length > 0) { %>
        <% tvshows.forEach(tvshow => { %>
          <li><a href="/cinemas/show/<%= tvshow._id %>"><%= tvshow.title %></a></li>        <% }) %>
      <% } else { %>
        <li>No TV Shows found</li>
      <% } %>
    </ul>
    
    <h2>Your Movies</h2>
    <ul>
      <% if (movies.length > 0) { %>
        <% movies.forEach(movie => { %>
          <li><a href="/cinemas/show/<%= movie._id %>"><%= movie.title %></a></li>        <% }) %>
      <% } else { %>
        <li>No Movies found</li>
      <% } %>
    </ul>
  </main>
</body>
</html>
