<!-- views/cinemas/dashboard.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
</head>
<body>
<%- include('../partials/header') %>
<%- include('../partials/nav') %>
  <header>
    <h1>Welcome, <%= user.username %>!</h1>
  </header>
  <main>
    <h2>Your TV Shows</h2>
    <ul>
      <% tvshows.forEach(tvshow => { %>
        <li><%= tvshow.title %></li>
      <% }) %>
    </ul>
    
    <h2>Your Movies</h2>
    <ul>
      <% movies.forEach(movie => { %>
        <li><%= movie.title %></li>
      <% }) %>
    </ul>
  </main>
</body>
</html>
