<!-- views/cinemas/editmovies.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit Movie</title>
</head>
<body>
<%- include('../partials/header') %>
<%- include('../partials/nav') %>
  <div class="container">
    <h1>Edit Movie</h1>
    <p>Use this form to edit your movie information</p>
    <form action="/cinemas/editmovies/<%= movie._id %>" method="POST">
      <label for="title">Title</label>
      <input type="text" name="title" id="title" value="<%= movie.title %>" required />
      
      <label for="score">Score</label>
      <select name="score" id="score" required>
        <% for (let i = 1; i <= 10; i++) { %>
          <option value="<%= i %>" <%= movie.score === i ? 'selected' : '' %>><%= i %></option>
        <% } %>
      </select>
      
      <label for="status">Status</label>
      <select name="status" id="status" required>
        <option value="Completed" <%= movie.status === 'Completed' ? 'selected' : '' %>>Completed</option>
        <option value="Haven't Completed" <%= movie.status === "Haven't Completed" ? 'selected' : '' %>>Haven't Completed</option>
        <option value="Plan to Watch" <%= movie.status === 'Plan to Watch' ? 'selected' : '' %>>Plan to Watch</option>
      </select>
      
      <label for="notes">Notes (Optional)</label>
      <textarea name="notes" id="notes"><%= movie.notes %></textarea>
      
      <button type="submit">Save movie information</button>
    </form>
  </div>
</body>
</html>