<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Community</title>
  <link rel="stylesheet" href="/css/nav.css">
  <link rel="stylesheet" href="/css/pages/community.css">
</head>
<body>
<%- include('../partials/nav') %>
  <div class="container">
    <h1>Community</h1>
    <div class="community-grid">
      <% latestEntries.forEach(entry => { %>
        <div class="community-entry">
          <h2><a href="/users/binder/<%= entry.userDetails._id %>"><%= entry.userDetails.username %></a></h2>
          <p><strong>Latest Entry:</strong></p>
          <div class="review">
            <h3><a href="/users/show/<%= entry.latestEntry._id %>"><%= entry.latestEntry.title %></a></h3>
            <p>Type: <%= entry.latestEntry.type %></p>
            <p>Score: <%= entry.latestEntry.score %>/10</p>
            <p>Status: <%= entry.latestEntry.status %></p>
          </div>
        </div>
      <% }) %>
    </div>
  </div>
</body>
</html>
